{% load feincms_thumbnail %}

{% for object in object_list %}
<div class="append-bottom">
<a class="ausklapp h2" href="#{{ object.slug }}" id="a-{{ object.slug }}" name="a{{ object.name }}"><span>{{ object.start_time|date:"j. N" }}: {{ object.name }}</span></a>
<div class="ausklapp_content event span-15 last prepend-top">
    <div class="event-text {% if object.picture %}span-11{% else %}span-15 last{% endif %}">
        <p class="byline">{{ object.start_time|date:"SHORT_DATE_FORMAT" }}</p>
            {{ object.description|safe }}
    </div>          
    {% if object.picture %}
    <div class="event-image span-4 last">
        {% if object.meta.uses_medialibrary %}
       <a href="{{ object.picture.file.name|thumbnail:'600x600' }}" class="event-image image">
        <img src="{{ object.picture.file.name|cropscale:'150x180' }}" alt="" />
       </a>
       {% else %}
       <a href="{{ object.get_absolute_url }}" class="event-image image">
       <img src="{{ object.picture }}" alt="" />
       </a>
       {% endif %}
    </div>
    {% endif %}
</div>
</div>
{% endfor %}

<script>
SQ.add(function(){
    $('a.ausklapp').click(function() {
        $(this).children('span').toggleClass('open');
        $(this).next().slideToggle(500, function(){
            $.scrollTo($(this), 500);
            });
        return false;
    }).next().hide();
    $('a.ausklapp:first').children('span').toggleClass('open');
    $('a.ausklapp:first').next().slideDown();
        //thaths the hash-shizzle
    if ( window.location.hash != '') {
        var hash=window.location.hash.substr(1)
    //get hash, scroll to position
        $('#a'+hash).children('span').addClass('open');
        $('#a'+hash).next().slideDown(500,function(){
            $.scrollTo($(this), 500);
            });
    }
    $('.event-image').fancybox();

});
</script>

{% comment %}
Aufklapp JS:
Needs jQuery.scrollTo for scrollTo.

{% endcomment %}
