{% load applicationcontent_tags feinheit_base %}
{% fragment request "title" prepend %}{{ object.translation.title }} - {% endfragment %}

<div class="event" {% context_menu object %}>
    {% if object.image %}
        <img src="{{ object.image.url }}" alt="" style="float:right" />
    {% endif %}

    {{ object.date|date:"d.m.Y" }}{% if object.time %}, {{ object.time }}{% endif %}:<br />
    <h2><a href="{{ object.get_absolute_url }}">{{ object.translation.title }}</a></h2>

    {{ object.translation.description }}
</div>
